@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  font-family: 'Sora';
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

p {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px 0;
  transition: 0.5s;
}

#on_info {
  position: absolute;
  bottom: 125px;
  left: 30px;
  color: #fff;
  width: calc(100% - 60px)
}

button {
  position: absolute;
  width: 140px;
  height: 40px;
  right: 30px;
  bottom: 30px;
  background: #C14B41;
  border-radius: 20px 0px;

  box-shadow: 4px 4px 4px rgba(193, 75, 65, 0.25);
  color: #fff;
  font: inherit;
  font-size: 16px;
  border: none;
}

